<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Adding wifi network permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- Making Leanback optional as it's not required for phones/tablets -->
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <!--  The "uses-feature" below was added to suppress a warning for ACCESS_FINE_LOCATION above -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight" >

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/logo_greybox"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Uncommenting the LEANBACK_LAUNCHER intent filter -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
        android:theme="@style/Theme.MaterialComponents.DayNight">
        <!-- Ajoutez des intent-filters si nécessaire pour cette activité -->
    </activity>
    </application>

</manifest>
